a{
    text-decoration: none;
    color: black;
}

.container{
    margin-top: 42px;
    height: 80vh;
}
.container-children{
    height: 100%;
}

div.row:hover>div.col{
    background-color: #6c757d;
    color: white;
    border-right: solid 1px white;
}

a:focus>div.row>div.col{
    background-color: black;
    color: white;
    border-right: solid 1px white;
}

.scroll-y{
    overflow-y: auto;
    overflow-x: hidden;
}

.scroll-y.detailfee{
    height: 45vh;
}

.scroll-y.registerfee{
    height: 70vh;
}